@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    background-color: black;
}

.navbar
{
    width: 100%;
    overflow: hidden;
    background: black;
}
.logo
{
    position: relative;    
    left: 30px;
    top: -10px;
}
.navbar .logo img
{
    width: 200px;
    height: 150x;
}
.navbar-nav
{
    position: absolute;
    left: 68%;
    top: 4%;
    font-family: 'Roboto', sans-serif;  
    font-size: 18px;
    margin: 0 10px;
}
.navbar-nav a:hover
{
    border-bottom: 1px solid #fff; 
}
.banner-area
{
    overflow: hidden;
}
.intro
{
    position: relative;
    left: 70px;
    top: 130px;  
    font-family: 'Roboto', sans-serif;
}
.banner-area-buttons
{
    margin-top: 28px;
}
.button1
{
    border: 1px solid #fff;
    padding: 10px 28px;
    font-family: 'Roboto', sans-serif;  
    cursor: pointer;
    transition: 0.8s;
}
.button-1
{
    color: #fff;
    background-color: black;
}
.button-2
{
    color: black;
    background-color: #fff;
    margin-left: 5px;
}

.button-1:hover
{
    background-color: #fff;
    color: black;
}
.button-2:hover
{
    background-color: black;
    color: #fff;
}
.intro h1
{
    color: #fff;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.intro h3
{
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.image
{
    position: relative;
    left: 650px;
    top: -160px; 
    overflow: hidden;
}
.image img
{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.checkbutton
{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.about
{
    height: 50vh; 
    overflow: hidden;  
}
.about h1
{
    position: absolute;
    left: 44%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.about p
{
    color: #fff;
    position: relative;
    top: 50px;
    left: 400px;
    font-family: 'Roboto', sans-serif;  
}
hr
{
    background-color:  #323232;
    padding: 0 !important;
    margin: 0 !important;
}
.skills-area
{
    background: black;
    height: 80vh; 
    overflow: hidden;  
}
.skills-title 
{
    position: absolute;
    left: 45%;    
    color: #fff;  
    position: relative;  
    left: 550px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.progress-bar-skills
{
    width: 500px;
    height: 3em;
    background-color:black;
    border-radius: 1.5em;
    position: relative;
}
.progress-bars-skills
{
   position: relative;
   left: 400px;
}
.progress-bar-skills::before
{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: .5em;
    left: .5em;
    bottom: .5em;
    width: calc(var(--width,0)*1%);
    min-width: 2rem;
    max-width: calc(100%-1rem);
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
}
.progress-bar-skills span
{
    position: relative;
    left:calc(var(--width,0)/100*430px);
    top: .7em;
    color: black;
    background-color: #fff;
}
.porfolio
{
    height: 50vh;
    overflow: hidden;
}
.porfolio-title
{
    position: absolute;
    left: 45%;    
    color: #fff;  
    position: relative;  
    left: 550px;
    padding-bottom: 20px;
}
.contact-area
{
    background: #fff;
    height: 50vh;
    overflow: hidden;
}
.contact
{
    position: relative;
    left: 60px;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff; 
    overflow: hidden;
}
.contact h1 
{
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.address
{
    margin-top: 20px;
    background-color: #fff;
}
.address p 
{
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.social-media
{
    font-family: 'Roboto', sans-serif;  
    position: relative;
    left: 500px;   
    top: -170px;
    background: #fff; 
}
.social-media h1
{
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.icons
{
    position: relative;
    left: 60px;
}
.icons ul 
{
    background: #fff;
    list-style: none;
}
.icons ul li
{
    margin: 10px;
    margin-bottom: 15px;
    background: #fff;
    text-decoration: none;
}
.icons ul li a 
{
    color: #fff;
    border: 5px solid #fff;
}
.icons ul li a i
{
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}
.leavemessage
{
    position: relative;
    left: 900px;
    top: -389px;
    overflow: hidden;
    background: #fff;
}
.leavemessage h1
{
    color: black;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.message input,textarea
{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background: #fff;
}
.message button
{
    padding: 6px;
    width: 100px;
    margin-top: 10px;
    background: black;
    color: #fff;
    border:1px solid #fff;
    cursor: pointer;
}
.copyright
{
    overflow: hidden;
    height: 4vh;
}
.copyright p
{
    position: relative;
    left: 550px;
    color: #fff;
    font-family: 'Roboto', sans-serif;}
form
{
    background: #fff;
}
